In [42]:
import numpy as np
import pandas as pd

s = pd.DataFrame({
                 "a":[9904312, 3448737, 2890451, 2466052],
                 "b":[904312, 448737, 890451, 466052]
                },
              index=["서울", "부산", "인천", "대구"])
print(s.a)
print(s.b)

s = pd.DataFrame([
                 [9904312, 3448737, 2890451, 2466052],
                 [904312, 448737, 890451, 466052],
                 [9904312, 3448737, 2890451, 2466052],
                 [904312, 448737, 890451, 466052]
                    ],
              index=["서울", "부산", "인천", "대구"])
s[0]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: a, dtype: int64
서울    904312
부산    448737
인천    890451
대구    466052
Name: b, dtype: int64

서울    9904312
부산     904312
인천    9904312
대구     904312
Name: 0, dtype: int64

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64